@model WebApplication4.Models.ChangeAdminPasswordViewModel

@{
    ViewBag.Title = "Change Admin Password";
}

<h2>Change Admin Password</h2>

@using (Html.BeginForm("ChangeAdminPassword", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword)
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OldPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmNewPassword)
        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
    </div>

    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary" />
    </div>

}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Index")';
        }, 2000); // redirect after 2 seconds
    </script>
}
