@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link" })
        </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "SignUp", "Auth", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <!--  <li>@Html.ActionLink("Log in", "SignIn", "Auth", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>-->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Log in
        </a>
        <div class="dropdown-menu" aria-labelledby="loginDropdown">
            <a class="dropdown-item" href="@Url.Action("SignIn", "Auth", new { userType = "User" })" id="loginUser">User</a>
            <a class="dropdown-item" href="@Url.Action("SignIn", "Agent", new { userType = "Agent" })" id="loginAgent">Agent</a>
            <a class="dropdown-item" href="@Url.Action("Login", "Admin", new { userType = "Admin" })" id="loginAdmin">Admin</a>
        </div>
    </li>
</ul>
    }
