
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@model WebApplication4.Models.ChangeUserPasswordViewModel


@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary" />
    </div>

}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}
