@{
    ViewBag.Title = "Search Properties";
}

<h2>Search Properties</h2>

@using (Html.BeginForm("SearchProperties", "User", FormMethod.Post))
{
    <div class="form-group">
        <label for="state">State:</label>
        @Html.TextBox("state", null, new { @class = "form-control", placeholder = "Enter state" })
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        @Html.TextBox("city", null, new { @class = "form-control", placeholder = "Enter city" })
    </div>
    <div class="form-group">
        <label for="minBedrooms">Min Bedrooms:</label>
        @Html.TextBox("minBedrooms", null, new { @class = "form-control", type = "number", placeholder = "Min bedrooms" })
    </div>
    <div class="form-group">
        <label for="minBathrooms">Min Bathrooms:</label>
        @Html.TextBox("minBathrooms", null, new { @class = "form-control", type = "number", placeholder = "Min bathrooms" })
    </div>
    <div class="form-group">
        <label for="minPrice">Min Price:</label>
        @Html.TextBox("minPrice", null, new { @class = "form-control", type = "number", step = "0.01", placeholder = "Min price" })
    </div>
    <div class="form-group">
        <label for="maxPrice">Max Price:</label>
        @Html.TextBox("maxPrice", null, new { @class = "form-control", type = "number", step = "0.01", placeholder = "Max price" })
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}
