@model WebApplication4.Models.ChangeAgentPasswordModel

@{
    ViewBag.Title = "Change Password";
}



@using (Html.BeginForm("ChangePassword", "Agent", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(model => model.OldPassword)
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OldPassword)
    </div>

    <div>
        @Html.LabelFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>

    <div>
        @Html.LabelFor(model => model.ConfirmNewPassword)
        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}
